<div class="row">
  <div class="col-md-12">
    <%= link_to @subject.wiki_page_link do %>
      <div class="panel" id="subject-panel-header">
        <h1 id="show-h1"><%= @subject.name.upcase %> <span id="yay">HAS</span> A WIKI PAGE</h1>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">       
    <div class="panel">
      <div class="panel-body">
        <p><%= @subject.bio %></p>
      </div>
    </div>
  </div>
</div>
