<div class="row">
  <div class="col-md-12">
    <%= link_to @subject.wiki_create_link do %>
      <div class="panel" id="subject-panel-header">
        <h1 id="show-h1"><%= @subject.name.upcase %> <span id="nay">NEEDS</span> A WIKI PAGE</h1>
      </div>
    <% end %>
  </div>
</div>
