<div class="jumbotron">
  <h1><%= @subject.name.upcase %></h1>
  <h2>NEEDS A WIKIPEDIA PAGE</h2>
  <h3><%= link_to "Help get it started!", @subject.wiki_create_link, target: "_blank" %></h3>
</div>
<div class="jumbotron">
  <h3>Here's what people are saying about her on Twitter:</h3>
  <div id="tweets">
    <%= render 'subjects/tweet', subject: @subject %>
  </div>
</div>