<div class="container">
  <div class="well">
    <div class="panel">
      <h1 style="text-align: center; margin-top: 10px;">=CodeEquality=</h1>
    </div>
    <div>
      <p>This project is was created by Rachel Nackman, Alex Goldvarg and Andrew Miksch as apart of our education at the Flatiron School in New York City.</p><p> As we've been learning we've noticed an imbalance in representation of women in technology on Wikipedia. A number of organizations are working to address this problem including the Anita Borg Institute, which has maintains a public spreadsheet of over 300 women whose Wikipedia pages need updating or creation. We used their information to seed our database.With this project we hope to create a hub to spread the word about this important work.</p>
    </div>
  </div>
</div>
