<div class="jumbotron">
  <p><h1>Women in technology are<br>under-represented on Wikipedia.</h1></p>
  <p><h1>Help us address this imbalance.</h1></p>
</div>
<div class="jumbotron">
  <h3>A number of great organizations are working to spread awareness about the under-representation of women on Wikipedia. We join them in highlighting the many important women in technology who deserve better representation in online encyclopedic resources.</h3>
  <h3>This site is built around data collected by the<br><a href="https://www.cs.duke.edu/csed/wikipedia/index.html" target="_blank">CRA-W and Anita Borg Institute Wikipedia Project</a>.<br><a href="https://docs.google.com/spreadsheet/ccc?key=0AgtB-ve2c_3ydDFiVkt3U3FTUXJBb0VydmRHc3FVS3c#gid=0">See their public spreadsheet.</a></h3>
</div>