<div class="container">
  <div class="well col-md-10 col-md-offset-1">
    <div class="panel">
      <h1 style="text-align: center; margin-top: 10px;">=CodeEquality=</h1>
    </div>
    <div class="panel-body">
      
      <div>
        <p>There's an imbalance in representation of women in technology on Wikipedia. We wanted to provide an easy path to addressing this problem.</p>
        
        <p>Thanks to a number of organizations including the Anita Borg Institute, efforts to tackle this discrepency are already underway.</p>
      </div>
      <div>
        <a href="https://www.cs.duke.edu/csed/wikipedia/index.html">CRA-W and Anita Borg Institute Wikipedia Project</a>
        <br>
        <a href="http://art.plusfeminism.org/">Art+Feminism</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women%27s_History/Taskforces/Women_in_technology">WikiProject Women's History</a>
        <br>
        <a href="http://en.wikipedia.org/wiki/Wikipedia:Your_first_article">Wikipedia:Your first article</a>
        <br>
        <br>
        <p><em>We'd love to hear ideas on how to improve this project. Reach out to us on github.</em></p>
        <p>Thanks,
          <br>
            <a href="https://github.com/rnackman">Rachel</a>, 
            <a href="https://github.com/superandrew123">Andrew</a>, 
            <a href="https://github.com/agoldvarg">Alex</a>
        </p>
      </div>
    </div>
  </div>
</div>
