<div class="container">
  <div class="well">
    <div class="panel">
      <h1 style="text-align: center; margin-top: 10px;">=CodeEquality=</h1>
    </div>
    <div>
      <p>This project is was created by Rachel Nackman, Alex Goldvarg and Andrew Miksch as apart of our education at the Flatiron School in New York City.</p><p> As we've been learning we've noticed an imbalance in representation of women in technology on Wikipedia. A number of organizations are working to address this problem including the Anita Borg Institute, which has maintains a public spreadsheet of over 300 women whose Wikipedia pages need updating or creation. We used their information to seed our database.With this project we hope to create a hub to spread the word about this important work.</p>
    </div>
    <div>
      <p>Creating a new Wikipedia page can be difficult. We have not provided training resources to learn what is necessary to properly update and create content on Wikipedia, but these sites do:
    </div>
    <div>
      <a href="https://www.cs.duke.edu/csed/wikipedia/index.html">CRA-W and Anita Borg Institute Wikipedia Project</a>
      <br>
      <a href="http://art.plusfeminism.org/">Art+Feminism</a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women%27s_History/Taskforces/Women_in_technology">WikiProject Women's History</a>
      <br>
      <a href="http://en.wikipedia.org/wiki/Wikipedia:Your_first_article">Wikipedia:Your first article</a>
      <br>
      <br>
      <p><em>We'd love to hear ideas on how to improve this project. Reach out to us on github.</em></p>
      <p>Thanks,
        <br>
          <a href="https://github.com/rnackman">Rachel</a>, 
          <a href="https://github.com/superandrew123">Andrew</a>, 
          <a href="https://github.com/agoldvarg">Alex</a>
      </p>
    </div>
  </div>
</div>
