<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>WOMEN WITHOUT WIKIPEDIA PAGES</h1></a>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel panel-body index">
          <ul class="list-unstyled">
            <%= render partial: 'subject', collection: @subjects_without %>      
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>WOMEN WITH WIKIPEDIA PAGES</h1></a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel panel-body index">
          <ul class="list-unstyled">
            <%= render partial: 'subject', collection: @subjects_with %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>