<div class="jumbotron">
  <h2>Resources</h2>
  <h3><a href="https://www.cs.duke.edu/csed/wikipedia/index.html">CRA-W and Anita Borg Institute Wikipedia Project</a></h3>
  <h3><a href="http://art.plusfeminism.org/">Art+Feminism</a></h3>
  <h3><a href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women%27s_History/Taskforces/Women_in_technology">WikiProject Women's History</a></h3>
  <h3><a href="http://en.wikipedia.org/wiki/Wikipedia:Your_first_article">Wikipedia:Your first article</a></h3>
</div>
<div style="text-align: center">
  <h3>Please <a href="mailto: hello@codeequality.com">reach out</a> to suggest additions to these resources.</h3>
</div>