<div class="container-fluid">
  <div class="well">
    <% if @subject.has_wiki_page %>
      <%= render 'subject_with_wiki' %>
    <% else %>
      <%= render 'subject_without_wiki' %>
    <% end %>
  </div>
</div>
