<% if flash[:message] %>
  <div class="row top-pad">
    <div class="col-md-12 col-sm-12">
      <div class="panel">
        <h1 class="flash-message"><center><%= flash[:message] %></center></h1>
      </div>
    </div>
  </div>
<% end %>

<% if @subject.has_wiki_page %>
  <%= render 'subject_with_wiki' %>
<% else %>
  <%= render 'subject_without_wiki' %>
<% end %>
