/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.main a {
  color: #0E78FF;
}

.navbar-inverse {
  background-color: #0E78FF;
}

.navbar-inverse .navbar-brand {
  font-size: 2em;
  font-weight: 600;
}

.navbar-inverse .navbar-nav {
  font-weight: 500;
  font-size: 1.1em;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: white;
  color: #0E78FF;
}

.navbar {
  padding: 1.05em;
  position: fixed;
}

.btn-default {
  color: #0E78FF;
  background-color: white;
  border-color: white;
}

.container .main {
  position: relative;
}

.footer-text, .footer-text a {
  text-align: center;
  color: white;
}

.footer-text a:hover {
  color: white;
  text-decoration: underline;
}

.jumbotron {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.jumbotron a, a:hover{
  color: #0E78FF;
}

h2 {
  font-size: 3em;
}

.index {
  padding-top: .25em;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;

  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.index li {
  padding-left: .5em;
}

.index li a {
  font-size: 1.5em;
  font-weight: 300;
  color: black;
}

.index li a:hover {
  text-decoration: none;
  border-bottom: 3px #0E78FF solid;
}

.panel-heading h1 {
  margin-top: 10px;
  text-align: center;
}

.panel-heading a:hover, .panel-heading a:focus {
  text-decoration: none;
}

.panel-body {
  padding-top: 1em;
}

.btn-lg .btn-primary {
  background-color: #0E78FF;
}

.jumbotron .btn {
  color: white;
  margin-bottom: 1.5em;
  background-color: #0E78FF;
}

.jumbotron .btn a {
  color: white;
}

.jumbotron h2 {
  font-size: 2em;
  padding-bottom: 1em;
}

.refresh-button {
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.refresh-button .btn-lg {
  margin-bottom: 0;
}

.glyphicon-plus {
  padding: .5em;
  padding-bottom: .78em;
  padding-right: 1.5em;
  font-size: .5em;
  vertical-align: middle;
}

.glyphicon-refresh {
  font-size: 1.5em;
}

#tweets {
  text-align: center;
}

.alert {
  width: 40%;
  margin: auto;
}
