<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="footer-text">Made by <a href="http://www.github.com/agoldvarg">Alex Goldvarg</a>, <a href="http://www.github.com/superandrew123">Andrew Miksch</a> & <a href="http://www.github.com/rnackman">Rachel Nackman</a> at <a href="http://www.flatironschool.com">Flatiron School</a>. | <a href="http://www.github.com/agoldvarg/code-equality">See our source code.</a> | <a href="mailto: TK@TK.COM">We love feedback!</a></div>
  </div>
</div>